@font-face {
  font-family: 'poppins-regular';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'poppins-medium';
  src: url('./assets/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'poppins-bold';
  src: url('./assets/fonts/Poppins-Bold.ttf');
}


:root{
  --title-fs : 3.05rem;
  --title-3-fs : 1.956rem;
  --subtitle-fs : 1.563rem;
  --lead-fs :  1.25rem;
  --body-fs : 1rem;
  --link-fs : 0.8rem;

  --bg-primary : #C1071E;
  --bg-secondary : #121212;
  --bg-tertiary : #14131B;
  --text-primary : #ffffff;
  --text-secondary : #DEDEDE;
  --text-tertiary : #777777;
  --yellow : #CD9019;

  background-color: var(--bg-secondary);
  font-size: var(--body-fs);
}

#root{
  background-color: var(--bg-secondary) ;
}

body{
  background-color: var(--bg-secondary);
  overflow-x: hidden;
}


body::-webkit-scrollbar{
  width: 0;
}

/**font**/
._title{font-size: var(--title-fs); font-family: 'poppins-bold';}
._title-3{font-size: var(--title-3-fs);  font-family: 'poppins-bold';}
._subtitle{font-size: var(--subtitle-fs); font-family: 'poppins-bold';}
._lead{font-size: var(--lead-fs);  font-family: 'poppins-regular';}
._body{font-size: var(--body-fs);  font-family: 'poppins-regular';}
._button{font-size: var(--body-fs); font-family: 'poppins-medium';}
._link{font-size: var(--link-fs); font-family: 'poppins-regular';}
._icon{font-size: 24px;}
._border{border: solid 1px #3A3636;}


/**other**/

._btn i{
  font-size: 24px;
}
._shadow{box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);}



/**base**/
*{
  font-family: 'poppins-medium';
}

._searchBar{
  width: 715px;
  border: 0;
  border-bottom: solid 2px #C1071E;
}

._searchNav{
  background-color: rgba(18, 15, 15,0.9);
  /* background-color:rgba(22, 24, 39, 0.9); */
  border-bottom: solid 1px #3A3636;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
/*  */

._signIcon{
  font-size: 56px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);

}

._searchInput{
  background-color: transparent;
  width: 100%;
  outline: 0;
  border: 0;
  color: var(--text-tertiary);
  font-size: var(--lead-fs);

}

._searchIcon{
  font-size: 16px;
}

._searchInput::placeholder{
  color: var(--text-tertiary);
}

._userProfile{
  cursor: pointer;
  width:  64px;
  height:   64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.imageFade{
  position: absolute;
  top: 0;
  background-color: var(--bg-secondary);
  opacity: 60%;
  width: 100%;
  height: 90vh;
}

._hero{
  background-position : 80px -80px;
  background-size: cover;
  background-repeat: no-repeat;
  width : 100%;
  height : 90vh;
  row-gap : 40px;
}

._loader{
  transform: translate(-50%, -50%);
}

._heroBtnContainer{
  width: 446px;
}

._navbar{
  position: fixed;
  top: 112px;
  left: 50px;
  border-radius: 64px;
  align-items: center;
  background-color:var(--bg-tertiary);
  z-index: 4;
}

._movieFilter{
  position: sticky;
  top: -16px;
  z-index: 2;

}

._movieFilter::before{
  overflow: hidden;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 8px;
  background-color: #3A3636;
}

._movieCard{
  max-width: 1120px;
  max-height: 600px;
}

._MovieCardImage{
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem 0 0 1rem;
  max-height: 400px;
}

._playList{
  width: 596px;
}

._movieLine{
  position: relative;
}

._movieLine::before{
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  overflow: hidden;
  background-color: var(--text-primary);
  width: 100%;
  height: 1px;
}

._movieListContainer{
  max-height: 80vh;
  overflow-y: scroll;
}

._movieListContainer::-webkit-scrollbar{
  width: 0;
}

._backBtn{
  position: absolute;
  top: 24px;
  left: 8px;
}



@media screen  and (max-width: 1200px){
  ._searchBar{
    max-width: 760px;
  }

}
@media screen  and (max-width: 1024px){
  :root{
    --body-fs : 14px;
  }
  ._searchBar{
    max-width: 720px;
  }

  ._navbar{
    top: 96px;
  }
  ._hero{
    height: 90vh;
  }
}

@media screen and (max-width : 992px) {
  ._navbar{
    top: 128px;
    left: 8px;
  }

  ._backBtn{
    top: 24px;
    left: 8px;
  }

  ._searchBar{
    max-width: 512px;
  }

  ._hero{
    height: 80vh;
  }
  ._movieCard{
    max-width: 540px;
    max-height: max-content;
  }
  
  ._MovieCardImage{
    border-radius: 1rem 1rem 0 0;
  }
}

@media screen and (max-width : 768px) {
  ._hero{
    height: 100vh;
  }
  ._navbar{
    top: 128px;
    left: 8px;
  }
}

@media screen and (max-width : 698px) {
  ._searchBar{
    max-width: 412px;
  }
}
@media screen and (max-width : 595px) {
  ._searchBar{
    max-width: 350px;
  }

  ._backBtn{
    top: 16px;
    left: 8px;
  }
}


@media screen and (max-width : 576px) {
  :root{
    --body-fs : 14px;
  }
  ._heroBtnContainer{
    width: 100%;
  }
  ._hero{
    height: 120vh;
  }

  ._navbar{
    top: auto;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: max-content;
    border-radius: 40px;
    width: 95%;
  }
  ._videoScreen{
    width: 90%;
  }

}
@media screen and (max-width : 375px) {
  ._hero{
    height: 180vh;
  }

}

